body {
  overflow-x: hidden;
}

.headerDiv {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.main {
  overflow-y: scroll;
  height: auto;
}

.middle {
  background-color: #f8f8f8;
}

.middleTitleDiv {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
}

.spoonsor {
  font-size: larger;
  font-style: italic;
  font-weight: bold;
  color: green;
  margin-right: 1%;
}

.title {
  font-size: large;
  font-weight: bold;
  line-height: 160%;
}

.arrowBtn {
  padding-top: 1.5%;
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
}

.children {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.chImg {
  width: 100%;
}

.chBtn {
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
}

.chP {
  margin: 0px;
}

.chName {
  margin-left: 6%;
  margin-top: 0%;
  color: #919090;
}

.reportDiv {
  background-color: #ccffd1;
  padding-bottom: 12%;
}

.reportTitle {
  text-align: center;
  font-size: larger;
  font-weight: bold;
  padding: 2% 0% 4% 2%;
  margin: 3.2% 0% 0% 0%;
}

.reportCore {
  position: relative;
  width: 100%;
}

.reportCoreNameDiv {
  position: absolute;
  display: flex;
  bottom: 66%;
  width: 100%;
  right: 32%;
}

.reportCoreName {
  font-size: medium;
  color: white;
}

.reportCoreName {
  width: 100%;
  margin-left: 3%;
  font-size: large;
  color: white;
  font-weight: bold;
}

.reportImg {
  width: 100%;
}
