.Sponsored {
    background-color: white;
    margin-left: 12%;
    align-items: center;
    display: flex;
}

.BetweenSponsored {
    width: 60vw;
}

.SponsoredImgSpace {
    width: 108px;
    height: 136px;
    background-color: white;
    display: inline-block;
    top: 0%;
    overflow: hidden;
    margin-right: 17px;
}


.SponsoredPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SponsoredInfo {
    width: 162px;
    height: 45px;
    background-color: white;
    display: inline-block;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LetterButton {
    width: 70px;
    height: 30px;
    border: 0.5px solid #979797;
    background-color: white;
    margin-top: 24px;
    font-size: 12px;
}

.InfoDiv {
    background-color: white;
    vertical-align: middle;
    text-align: left;
}

.name {
    font-size: medium;
}

.detail {}