.childDiv {
  display: flex;
  margin: 5% 0%;
  background-color: #f8f8f8;
}

.childBtn {
  background-color: #f8f8f8;
  border: 0px;
  padding: 3% 1%;
  margin: 2% 5% 2% 0%;
}

.childImg {
  /* width: 120%; */
  height: 100%;
}

.detailTitle {
  font-size: large;
  font-weight: bold;
  text-align: start;
  margin: 5% 0% 2% 0%;
}

.hashTag {
  font-size: small;
  color: #8a8a8a;
  text-align: start;
  margin: 0px 0% 0% 0%;
}

.gaugeBarDiv {
  width: 70vw;
}