.container {
    margin-top: 3%;
}

.graph {
    position: relative;
    /* display: flex; */
}


.bar {
    /* width: 80%; */
}

.Spercent {
    text-align: start;
    font-size: small;
    font-weight: bold;
    margin: 10% 0% 0% 0%;
}

.percent {
    margin: 0px;
    text-align: start;
    font-size: small;
}

.sunImg {
    position: absolute;
    /* z-index: 1; */
    /* top: 2%; */
    bottom: 35%;
    left: 72%;
    width: 12%;
    /* height: 30%; */
    align-self: center;
}