.slider {
    /* margin-top: 7vh; */
    margin-bottom: 12%;
}

.imgDiv {}

.ceterImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailImg {
    width: 100%;
    margin: auto;
    height: 100%;
}