.sub1Main {
    overflow-y: scroll;
    height: 80%;
    padding-top: 18%;
    padding-bottom: 30%;
}


.middleTitleDiv {
    position: relative;
    display: flex;
    align-content: center;
}

.backArrow {
    border: 0px;
    background-color: white;
    margin: 0% 8% 0% 7%;
}

.oneTitles {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.oneTitle {
    font-size: large;
    font-weight: bold;
    color: #41830D;
    margin: 0% 0% 0% 0%;
}

.twoTitle {
    font-size: medium;
    margin: 0% 0% 0% 0%;
}

/* ---------필터버튼 안눌렀을 때 */
.filterDiv {
    display: flex;
    background-color: #CBFFA3;
    justify-content: center;
    align-content: center;
    margin: 4% 0% 0% 0%;
}

.fp {
    margin-left: 6%;
    font-weight: bolder;
}

.bottomArrowBtn {
    border: 0px;
    background-color: #CBFFA3;
    margin: 0% 0% 0% 0%;
}

.details {
    background-color: white;
    margin: 4% 0% 0% 0%;
}

.detail {
    margin: 30% 0%;
}

/* ---------필터 버튼 눌렀을때 */
.filterBack {
    background-color: #CBFFA3;
    padding-bottom: 4%;
}

.selectfilterDiv {
    display: flex;
    background-color: #CBFFA3;
    justify-content: center;
    align-content: center;
    margin: 4% 0% 0% 0%;
}

.selectfp {
    margin: 4% 0% 0% 6%;
    font-weight: bolder;
}

.selectbottomArrowBtn {
    border: 0px;
    background-color: #CBFFA3;
    margin: 4% 0% 0% 0%;
}

.filterDetailDiv {
    background-color: #E9FFE1;
    width: 88%;
    margin: auto;
}

.detailTitle {
    display: flex;
    /* align-content: start;
    justify-content: start;
    justify-self: start; */
    /* justify-items: start; */
    padding-top: 4%;
    margin: 4% 0%;
}

.detailP {
    margin: 0% 7%;
    font-weight: bold;
    font-size: large;

}

.detailPLong {
    margin: 0% 0% 0% 4.8%;
    font-weight: bold;
    font-size: large;
    width: 20%;
}

.sort {
    width: 75%;
    /* display: flex; */
}


.sex {
    background-color: white;
    border: 1px black solid;
    margin: 0px 2%;
    border-radius: 42.5%;
    padding: 1% 2%;
    font-size: small;
}

.age {
    background-color: white;
    border: 1px black solid;
    border-radius: 42.5%;
    margin: 0px 2%;
    padding: 1% 2%;
    font-size: small;
}

.conditions {
    display: flex;
    justify-content: space-around;
}

.condition {
    background-color: white;
    border: 1px black solid;
    font-size: small;
    border-radius: 42.5%;
    padding: 1% 1%;
    margin: 1% 1% 3% 1%;

}