.middle {
    height: auto;
    overflow-y: scroll;
    padding-top: 18%;
    padding-bottom: 5%;
}

.middleTitleDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 50%;
    padding-bottom: 1%;
    margin: 1% 0% 3% 0%;
}

.backArrowBtn {
    position: absolute;
    left: 5%;
    background-color: white;
    border: 0px;
    width: 7.5%;
    height: 100%;
}

.backArrow {
    width: 100%;
    height: 100%;
}

.middleTitle {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    margin: 0px;
    padding-top: 0.5%;
}

.detail {
    width: 87%;
    margin: auto;
}

.detailTitle {
    font-size: large;
    font-weight: bold;
    text-align: start;
}

.detailCoreDiv {
    width: 93%;
    margin: auto;
}

.detailCore {
    font-size: medium;
    text-align: start;
}

.spoonBtn {
    font-size: large;
    font-weight: bold;
    background-color: #73DD20;
    color: white;
    border: 0px;
    margin-bottom: 5%;
    padding: 3%;
}