.slider {
  top: 50%;
  margin-top: 7vh;
  margin-bottom: 10%;
}

.imgDiv {
}

.ceterImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainImg {
  width: 100%;
  margin: auto;
  height: 100%;
}
